<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/item.css }">
</th:block>
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content" id="main">
    <form method="Post" id="itemInfo" th:object="${itemDto}" th:action="@{/notebook/write}">
        <button>검색</button>
    </form>
</div>
</html>